<p-card header="Users" class="p-p-1 p-m-5">
    <div>
        <p-table #dt1 [value]="users" [scrollable]="true" scrollHeight="50vh" dataKey="id" [rows]="10" [showCurrentPageReport]="true" [rowsPerPageOptions]="[10,25,50]" [loading]="loading" styleClass="responsive-table p-datatable-customers p-datatable-gridlines p-datatable-responsive-demo"
            [paginator]="true" currentPageReportTemplate ="Showing {first} to {last} of {totalRecords} entries" [globalFilterFields]="['login','node_id']">
            <ng-template pTemplate="caption">
                <div class="p-d-flex">
                    <button pButton label="Clear" class="p-button-outlined" icon="pi pi-filter-slash" (click)="clear(dt1)"></button>
                    <span class="p-input-icon-left p-ml-auto">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text"  placeholder="Search keyword" />
                </span>
                </div>
            </ng-template>

            <ng-template pTemplate="header">
                <tr>
                    <th class="ui-resizable-column" pSortableColumn="id">Id
                        <p-sortIcon field="id"></p-sortIcon>
                    </th>
                    <th class="ui-resizable-column" pSortableColumn="login">Login
                        <p-sortIcon field="login"></p-sortIcon>
                    </th>
                    <th class="ui-resizable-column" pSortableColumn="node_id">Node id
                        <p-sortIcon field="node_id"></p-sortIcon>
                    </th>

                    <th class="ui-resizable-column" pSortableColumn="gravatar_id">Gravatar id
                        <p-sortIcon field="gravatar_id"></p-sortIcon>
                    </th>
                    <th class="ui-resizable-column" pSortableColumn="url">url
                        <p-sortIcon field="url"></p-sortIcon>
                    </th>
                    <th class="ui-resizable-column" pSortableColumn="html_url"> html_url
                        <p-sortIcon field="html_url"></p-sortIcon>
                    </th>
                    <th class="ui-resizable-column" pSortableColumn="followers_url"> followers url
                        <p-sortIcon field="followers_url"></p-sortIcon>
                    </th>
                    <th class="ui-resizable-column" pSortableColumn="following_url"> following url
                        <p-sortIcon field="following_url"></p-sortIcon>
                    </th>
                    <th class="ui-resizable-column" pSortableColumn="gists_url"> gists_url
                        <p-sortIcon field="gists_url"></p-sortIcon>
                    </th>
                    <th class="ui-resizable-column" pSortableColumn="starred_url"> starred_url
                        <p-sortIcon field="starred_url"></p-sortIcon>
                    </th>
                    <th class="ui-resizable-column" pSortableColumn="subscriptions_url"> subscriptions_url
                        <p-sortIcon field="subscriptions_url"></p-sortIcon>
                    </th>
                    <th class="ui-resizable-column" pSortableColumn="organizations_url"> organizations_url
                        <p-sortIcon field="organizations_url"></p-sortIcon>
                    </th>
                    <th class="ui-resizable-column" pSortableColumn="repos_url"> repos_url
                        <p-sortIcon field="repos_url"></p-sortIcon>
                    </th>
                    <th class="ui-resizable-column" pSortableColumn="events_url"> events_url
                        <p-sortIcon field="events_url"></p-sortIcon>
                    </th>
                    <th class="ui-resizable-column" pSortableColumn="received_events_url"> received_events_url
                        <p-sortIcon field="received_events_url"></p-sortIcon>
                    </th>
                    <th class="ui-resizable-column" pSortableColumn="type"> type
                        <p-sortIcon field="type"></p-sortIcon>
                    </th>
                    <th class="ui-resizable-column" pSortableColumn="site_admin"> site_admin
                        <p-sortIcon field="site_admin"></p-sortIcon>
                    </th>



                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-users>
                <tr>
                    <td class="ui-resizable-column">{{users.id}}</td>
                    <td class="ui-resizable-column">
                        <p-avatar image="{{users.avatar_url}}" styleClass="p-mr-2" size="small" shape="circle"></p-avatar>
                        {{users.login}}

                    </td>
                    <td class="ui-resizable-column">{{users.node_id}}

                    </td>
                    <td class="ui-resizable-column">{{users.gravatar_id}}</td>
                    <td class="ui-resizable-column">{{users.url}}</td>
                    <td class="ui-resizable-column">{{users.html_url}}</td>
                    <td class="ui-resizable-column">{{users.followers_url}}</td>
                    <td class="ui-resizable-column">{{users.following_url}}</td>
                    <td class="ui-resizable-column">{{users.gists_url}}</td>
                    <td class="ui-resizable-column">{{users.starred_url}}</td>
                    <td class="ui-resizable-column">{{users.subscriptions_url}}</td>
                    <td class="ui-resizable-column">{{users.organizations_url}}</td>
                    <td class="ui-resizable-column">{{users.repos_url}}</td>
                    <td class="ui-resizable-column">{{users.events_url}}</td>
                    <td class="ui-resizable-column">{{users.received_events_url}}</td>
                    <td class="ui-resizable-column">{{users.type}}</td>
                    <td class="ui-resizable-column">{{users.site_admin}}</td>
                </tr>
            </ng-template>

            <ng-template pTemplate="emptymessage">
                <tr>
                    <td colspan="5">No customers found.</td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</p-card>